header {
    background-color: orange;
    height: 120px;
    width: 100%;
}
.logo {
    float: left;
    height: 120px;
    width: 120px;
}
nav{
    background-color: #FFCC00;
}
body{
    background-image: url(https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
footer {
    background-color: orange;
}
@media (min-width: 850px){
    header{
        font-size: 300%;
    }
}